label {
    display: inline-block;
    margin-bottom: 2px;
}

.inputRow {
    display: flex;
    margin-top: 24px;
}

.inputCell {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.accountTextInput {
    display: block;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: transparent;
    color: inherit;
    box-sizing: border-box;
    outline: none;
}
.accountTextInput:focus {
    border-color: white;
}

.inputButton {
    margin: 0;
    width: 90px;
}

#cancelButton {
    display: none;
}