label {
    display: inline-block;
    margin-bottom: 2px;
}


.accountTextInput {
    display: block;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: transparent;
    color: inherit;
    box-sizing: border-box;
    outline: none;
}
.accountTextInput:focus {
    border-color: white;
}

#cancelButton {
    display: none;
}
