.theme-light {
    --holiday-list-row-color: #333;
    --holiday-list-row-color-active: black;
    --list-table-header-font-weight: bold;
}
.theme-dark {
    --holiday-list-row-color: #ddd;
    --holiday-list-row-color-active: white;
    --list-table-header-font-weight: normal;
}


.pickerSelectColumn {
    width: 40px;
}

.pickerCheckbox {
    outline: none;
    box-sizing: border-box;
    color: white;
    background-color: inherit;
    border: 1px solid #333;
    font-size: inherit;
    font-family: inherit;
}


.listTable {
    height: 100%;
    width: 100%
}


.listTableHeader {
    text-align: left;
    font-size: 14px;
    font-weight: var(--list-table-header-font-weight);
    color: var(--input-label-color);
}
.listCommandsColumn {
    width: 50px;
}

.listRow {
    color: var(--list-row-color);
}
.listRow:hover {
    color: white;
    background-color: steelblue;
}
.listRow_selected {
    color: white;
    background-color: #336699;
}

.pickerListRow {
    color: #eee;
}

.listColumn {
    padding: 6px 0;
}


/* Settings Overlay */
.organizationName {
    width: 100%;
}

#settingsEditButtons {
    display: none;
}

/* Calendar Overlay */
#calendarEditButtons {
    display: none;
}

.calendarNameCell {
    flex: 1;
}
.calendarDateCell {
    width: 170px;
}

.holidayTableSection {
    flex: 1;
    padding-top: 10px;
    border-top: 1px solid #333;
}
.holidayHeaderSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.holidayTableHeader {
}

.holidayListRow {
    color: var(--holiday-list-row-color);
}
.holidayListRow_active {
    color: var(--holiday-list-row-color-active);
}
.holidayListRow_active:hover {
    background-color: steelblue;
    color: white;
}

.listRow_selected {
    background-color: #336699;
    color: white;
}

.holidayNameColumn {
}
.holidayDateColumn {
    width: 130px;
}

.holidayActionCommands {
    margin-top: 42px;
    display: none;
}

.holidayEditor {
}
.holidayEditorDate {
    width: 170px;
}

/* Students Overlay */
.studentNumberColumn {
    width: 125px;
}
.studentGradeColumn {
    width: 125px;
    text-align: center;
}
.studentLocationColumn {
    width: 200px;
}

.studentEditor {
}

/* Accounts Overlay */
.accountNameColumn {
    width: 200px;
}
.accountAccessColumn {
    width: 120px;
}
.accountStatusColumn {
    width: 80px;
}

.accountEditor {
}


/* Classes Overlay */
.classTeacherColumn {
    width: 230px;
}

.classLocationColumn {
    width: 200px;
}

.classEditor {
    width: 500px;
}


/* Course Overlay */
.courseSubjectColumn {
    width: 200px;
}
.courseGradeColumn {
    width: 100px;
    text-align: center;
}

.courseEditor {
}
.courseEditor #courseSubject {
    width: 300px;
}

.coursePicker {
    width: 650px;
}

.coursePickerTable {
    height: 400px;
}

/* Locations Overlay */

.locationEditor {
    width: 420px;
}

