main {
    display: flex;
    flex-direction: row;
}

.st-body-table {
    vertical-align: top;
}
.st-tr-odd {
    background-color: #2a2a2a;
}


.overlaySelector {
    gap: 4px;
}
.overlaySelectorOption, .activeOverlaySelectorOption {
    width: 150px;
    padding: 16px 0;
    font-size: 16px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.overlaySelectorOption {
    color: #dedede;
    background-color: #414141;
}
.overlaySelectorOption:hover {
    color: white;
    font-weight: bold;
}
.activeOverlaySelectorOption {
    color: white;
    background-color: #336699;
    font-weight: bolder;
}

.overlayPanel {
    display: none;
    flex-direction: row;
    flex: 1;
}
.overlaySection {
    flex: 1;
}
.overlayContent {
    flex: 1;
    margin: 0 32px;
    display: flex;
    flex-direction: column;
}
.overlayCommands, .overlayCommandGroup {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 200px;
}

.overlayCommandGroup {
    margin-bottom: 28px;
}
.overlayCommandInput {
    padding: 10px 10px;
    background-color: inherit;
    color: lightgray;
    font-family: inherit;
    box-sizing: border-box;
    border: 1px solid #555;
}
.overlayCommandButton {
    width: 100%;
}
.overlayCommandButton:hover {
    font-weight: bold;
    background-color: steelblue;    
}
.overlayCommandButton:active {
    font-weight: bold;
    background-color: lightsteelblue;    
}
.overlayCommandButton:disabled {
    color: darkgray;
    background-color: #555;    
    font-weight: normal;
}
.overlayCommandSelectOption {
    background-color: inherit;
    color: lightgray;
    font-family: inherit;    
    padding: 8px 0px;
}


.listTable {
    flex: 1;
}
.listTableHeader {
    text-align: left;
    font-size: 14px;
    color: orange;
}
.listCommandsColumn {
    width: 50px;
}

.listRow:hover {
    background-color: steelblue;
}
.listRow_selected {
    background-color: #336699;
}

.listColumn {
    padding: 6px 0;
}


/* Settings Overlay */
.organizationName {
    width: 100%;
}

#settingsModalCommands {
    display: none;
}

/* Calendar Overlay */
#calendarModalCommands {
    display: none;
}

.calendarNameCell {
    flex: 1;
}
.calendarDateCell {
    width: 170px;
}

.holidayListSection {
    flex: 1;
    padding-top: 10px;
    border-top: 1px solid #333;
}
.holidayHeaderSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.holidayTableHeader {
    color: green;
}
.holidayListRow {
}
.holidayListRow_active:hover {
    background-color: steelblue;
}
.holidayListRow_selected {
    background-color: #336699;
}

.holidayNameColumn {
}
.holidayDateColumn {
    width: 130px;
}

.holidayActionCommands {
    margin-top: 42px;
    display: none;
}

/* Students Overlay */
.studentNumberColumn {
    width: 125px;
}
.studentGradeColumn {
    width: 125px;
    text-align: center;
}
.studentLocationColumn {
    width: 200px;
}

.studentEditor {
    width: 700px;
    height: 400px;
}

/* Accounts Overlay */
.accountAccessColumn {
    width: 120px;
}
.accountStatusColumn {
    width: 80px;
}

.accountEditor {
    width: 700px;
}


/* Classes Overlay */
.classTeacherColumn {
    width: 230px;
}

.classLocationColumn {
    width: 200px;
}

.classEditor {
    width: 700px;
    height: 400px;
}

/* Course Overlay */
.courseSubjectColumn {
    width: 200px;
}
.courseGradeColumn {
    width: 100px;
    text-align: center;
}

.courseEditor {
    width: 700px;
    height: 400px;
}

/* Locations Overlay */

.locationEditor {
    width: 700px;
    height: 400px;
}
