.benchmarkHeaderContainer {
}

.benchmarkRowContainer {
}

.benchmarkRow {
    display: flex;
    margin: 8px 0;
}

.benchmarkStandard {
    display: flex;
    flex: 1;
}

.benchmarkStandardCode {
    margin-right: 24px;
}

.benchmarkStandardDescription {
    padding-right: 16px;
}

.benchmarkCoverageContainer {
    width: 300px;
}

.benchmarkCoverage {
    width: 300px;
}

.benchmarkCoverageDate {
    display: inline-block;
}

.benchmarkCoverageSubject {
    display: inline-block;
}
