.navigationButton {
    width:80px;
    padding: 5px 0;
}
.navigationSelect {
    color: #ddd;
    background-color: transparent;
    display: inline-block;
    padding: 4px 16px;
    margin-right: 12px;
    border: 1px solid #777;
}
.navigationSelect:active {
    border: 1px solid #777;
}
.navigationSelect:focus {
    border: 1px solid #777;
}

.weeklyColumnContainer {
    display: flex;
    margin-top: 24px;
    gap: 2px;
}

.weeklyColumn {
    flex: 1; /* Each column takes up an equal amount of space */
    box-sizing: border-box;
}

.weeklyColumnHeader {
    color: #ddd;
    background-color: #274965;
    font-size: 13px;
    padding: 8px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 24px;
}
.weeklyColumnHeader_today {
    background-color: #3c6d95;
}

.weeklyColumnDay {
    color: orange;
    font-weight: bold;
    margin-right: 8px;
}
.weeklyColumnDate {
    color: lightblue;
}
.weeklyColumnHoliday {
    color: #aaa;
}

.weeklyColumnHeaderButton {
    background-color: transparent;
    color: #aaa;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: inherit;
    padding: 0;
    width: 23px;
    height: 24px;
}
.weeklyColumnHeaderButton:hover {
    background-color: #1f1f1f;
    border: 1px solid #777;
    color: white;
}
.weeklyColumnHeaderButton:active {
    background-color: #777;
    border: 1px solid white;
    color: black;
}

.weeklyColumnLessonContainer {
    padding: 0 4px;
}

.weeklyColumnLesson {
    visibility: hidden;
    height: 70px;
    color: yellow;
    background-color: #141414;
    font-size: 14px;
    margin-top: 12px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
    position: relative;
    border: 1px solid #274965;
}
.weeklyColumnLesson:hover {
    border: 1px solid steelblue;
}
.weeklyColumnLesson_selected {
    border: 1px solid #fff;
}

.weeklyColumnLessonCommandBar {
    position: absolute;
    top: 0;
    font-size: 11px;
    margin: 0 auto;
    display: none;
    flex-direction: row;
    color: #777;
    z-index: 1;
}

.weeklyColumnLessonCommand {
    width: 30px;
    text-align: center;
}
.weeklyColumnLessonCommand:hover {
    color: white;
}
.weeklyColumnLessonCommandBorder {
    border-right: 1px solid gray;
}

.weeklyColumnLessonInput {
    border: 0;
    box-sizing: border-box;    
    outline: none;
    background-color: transparent;
    color: inherit;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}