main {
    display: flex;
    flex-direction: column;    
}


.schedulePanel {
    flex: 1;
}

.scheduleHeader, .scheduleContainer {
    display: flex;
    gap: 2px;
}

.scheduleHeader {
    margin-top: 24px;
}

.scheduleColumn {
    flex: 1; /* Each column takes up an equal amount of space */
    box-sizing: border-box;
}

.scheduleColumnHeader {
    color: #ddd;
    background-color: #274965;
    font-size: 13px;
    padding: 8px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 24px;
}
.scheduleColumnHeader_today {
    background-color: #3c6d95;
}

.scheduleColumnDay {
    color: orange;
    font-weight: bold;
    margin-right: 8px;
}
.scheduleColumnDate {
    color: lightblue;
}
.scheduleColumnHoliday {
    color: #aaa;
}

.scheduleColumnHeaderButton {
    background-color: transparent;
    color: #aaa;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: inherit;
    padding: 0;
    width: 23px;
    height: 24px;
}
.scheduleColumnHeaderButton:hover {
    background-color: #1f1f1f;
    border: 1px solid #777;
    color: white;
}
.scheduleColumnHeaderButton:active {
    background-color: #777;
    border: 1px solid white;
    color: black;
}

.scheduleLessonContainer {
    padding: 0 4px;
    position: relative;    
}

.scheduleLesson {
    visibility: hidden;
    height: 70px;
    color: yellow;
    background-color: #141414;
    font-size: 14px;
    margin-top: 12px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
    position: relative;
    border: 1px solid #274965;
}
.scheduleLesson:hover {
    border: 1px solid steelblue;
}
.scheduleLesson_selected {
    border: 1px solid #fff;
}

.scheduleLessonCommandBar {
    position: absolute;
    top: 0;
    font-size: 11px;
    margin: 0 auto;
    display: none;
    flex-direction: row;
    color: #777;
    z-index: 1;
}

.scheduleLessonCommand {
    width: 30px;
    text-align: center;
}
.scheduleLessonCommand:hover {
    color: white;
}
.scheduleLessonCommandBorder {
    border-right: 1px solid gray;
}

.scheduleLessonName {
    text-align: center;
}

.coursePicker {
    width: 500px;
}

.courseTable {
    height: 420px;
    width: 100%
}

.courseTableBody {
    vertical-align: top;;
}

.courseNameColumn {
    width: 50%;
}


.pickerListColumn {
    padding: 3px 0;
}