.theme-light {
    --stats-total-color: #888;
}
.theme-dark {
    --stats-total-color: #ddd;
}



.listRow {
    color: var(--list-row-color);
}
.listRow_selected {
    color: white;
    background-color: #336699;
}

.pickerListRow {
    color: #eee;
}

.listColumn {
    padding: 6px 0;
}



.benchmarkStatsColumn {
    width: 200px;
    text-align: center;
}
#statsTotals {
    margin-left: 4px;
    color: var(--stats-total-color);
}
