.theme-light {
    --benchmark-code-color: #336699;
    --benchmark-synopsis-color: #333;
    --benchmark-synopsis-color-assigned: #00910c;
    --benchmark-row-referred-background-color: #555;

    --lesson-bubble-background-color: steelblue;
    --lesson-bubble-border-color: #336699;

    --list-table-font-weight: bold;

    --summary-stats-label-color: var(--page-title-color);
    --summary-stats-text-color: darkgreen;
}
.theme-dark {
    --benchmark-code-color: lightsteelblue;
    --benchmark-synopsis-color: #eee;
    --benchmark-synopsis-color-assigned: #3ee34c;

    --benchmark-row-referred-background-color: #080845;

    --lesson-bubble-background-color: black;
    --lesson-bubble-border-color: #444;

    --list-table-font-weight: normal;

    --summary-stats-label-color: var(--page-title-color);
    --summary-stats-text-color: #01a301;
}


#Summary .listColumn {
    padding: 10px 0;
}
#Summary .listRow:hover {
    color: white;
    background-color: steelblue;
}
#Summary .listRow_selected {
    color: white;
    background-color: #336699;
}

#Benchmarks .listColumn {
    padding: 16px 0;
}


.navigationPanel {
    align-items: center;    
}
#navigationSelectors {
}
.navigationSelect {
    height: 100%;
}


.roadmapPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.roadmapStatsBanner {
    margin-bottom: 20px;
}
.roadmapStatsLabel {
    color: var(--summary-stats-label-color);
    margin-right: 6px;
}
.roadmapStatsText {
    color: var(--summary-stats-text-color);
}


.roadmapTable {
    flex: 1;
}

.roadmapRow {
}


.summaryPanel {
}

.summaryStatsBanner {
    font-size: 24px;
}
.summaryTable {
    flex: 1;
}
.summarySubjectColumn {
    width: 230px;
}
.summaryGradeColumn {
    width: 80px;
    text-align: center;
}
.summaryProgressColumn {
    width: 200px;
    text-align: center;
}
#viewOnlyButtons {
    margin-bottom: 33px;
    visibility: hidden;
}
#viewOnlyButtons #viewProgress {
    display: inline-block;
}

.viewProgressButton {
}


.benchmarksPanel {
    flex-direction: column;
}
#Benchmarks .overlayContent {
    margin-right: 0;
}

.benchmarkStatsBanner {
    font-size: 18px;
    display: inline-block;
}

.benchmarkReferredRow {
    background-color: var(--benchmark-row-referred-background-color);
}
.benchmarkInfo {
    display: flex;
    flex-direction: row;
}

.benchmarkCode {
    display: inline-block;
    margin-right: 10px;
    color: var(--benchmark-code-color);
}

.benchmarkSynopsis {
    display: inline-block;
    color: var(--benchmark-synopsis-color);
    padding-right: 12px;
}
.benchmarkSynopsis_assigned {
    color: var(--benchmark-synopsis-color-assigned);
}

.lessonColumn {
    width: 240px;
    text-align: center;
}

.lessonBubble {
    padding: 5px 10px;
    border-radius: 12px;
    border: 1px solid var(--lesson-bubble-border-color);
    white-space: nowrap;
    width: fit-content;
    background-color: var(--lesson-bubble-background-color);
}
.lessonLink {
    color: #ddd;
}
.lessonLink:hover {
    color: white;
}
.lessonName {
}


#lessonDate {
    width: 160px;
}
#lessonCourse {
    width: 180px;
}