.benchmarkPickerPanel {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
}

.benchmarkPickerFrame {
    width: 800px;
    height: 400px;
    padding: 8px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    background-color: #414141;
    z-index: 3;
}
.benchmarkPickerCaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid white;
    padding-bottom: 8px;
}
.benchmarkPickerTitle {
    font-size: 17px;
    font-weight: bolder;
}
.benchmarkPickerButton {
    width: 75px;
}

.benchmarkPickerSearchBar {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 24px;
}
.benchmarkPickerSubject {
    width: 250px;
    margin-right: 24px;
}
.benchmarkPickerGrade {
    width: 50px;
    margin-right: 24px;
}
.benchmarkPickerKeyword {
    width: 150px;
    margin-right: 24px;
}

.benchmarkPickerListHeader, .benchmarkPickerListRow {
    display: flex;
    flex-direction: row;
}

.benchmarkPickerListHeader {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding-bottom: 3px;
}

.benchmarkPickerList {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
}

.benchmarkPickerListResults {
    flex: 1;
    overflow-y: auto;
}

.benchmarkPickerListRow {
    margin-top: 4px;
}

.benchmarkPickerListCheck {
    width: 30px;
}
.benchmarkPickerListCode {
    width: 130px;
}
.benchmarkPickerListSynopsis {
    flex: 1
}
