/*
* Themes
*/

.theme-light {
    --body-background-color: #eee;
    --page-title-color: #336699;
    --input-label-color: #336699;
    --input-label-font-weight: bold;
    --input-text-background-color-disabled: #ccc;
    --input-text-color-disabled: #444;
    --site-menu-color: #777;
    --site-menu-color-hover: black;
    --site-menu-border-color: black;
    --popup-box-background-color: #414141;;
}
.theme-dark {
    --body-background-color: #1a1a1a;
    --page-title-color: lightblue;
    --input-label-color: orange;
    --input-label-font-weight: normal;
    --input-text-background-color-disabled: inherit;
    --input-text-color-disabled: #ddd;
    --site-menu-color: #afafaf;
    --site-menu-color-hover: white;
    --site-menu-border-color: white;
    --popup-box-background-color: #414141;
}



/*
* HTML
*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: var(--body-background-color);
    margin: 0;
    padding: 0;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    white-space: nowrap;    
}
a:hover {
    text-decoration: underline;
}

table {
    border: none;
    border-spacing: 0;
}
td {
    cursor: default;
}

input[type=submit] {
    border: 0;
}


/*
* Text Input Controls
*/

.inputRow {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 24px;
}

.inputColumn, .inputCell {
    display: flex;
    flex-direction: column;
}
.inputCell {
    flex: 1;
}

.inputLabel {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 14px;
    color: var(--input-label-color);
    font-weight: var(--input-label-font-weight);
}
.inputLabel_disabled {
    opacity: 0.9;
}

.inputTextBox, .inputSelect {
    outline: none;
    padding: 16px;
    border-radius: 8px;
    display: block;
    box-sizing: border-box;
    color: white;
    border: 1px solid #333;
    background-color: #202020;
    font-size: inherit;
    font-family: inherit;
}
.inputTextBox:disabled {
    background-color: var(--input-text-background-color-disabled);
    color: var(--input-text-color-disabled);
}
.inputTextBox:focus, .inputSelect:focus {
    border-color: #ddd;
    background-color: #272727;
}

.inputButton, .inputAcceptButton, .inputCancelButton {
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
    background-color: #336699;
    border: 0;
}
.inputButton:hover {
    font-weight: bold;
    background-color: steelblue;    
}
.inputButton:active {
    font-weight: bold;
    background-color: lightsteelblue;    
}
.inputButton:disabled {
    color: darkgray;
    background-color: #555;    
    font-weight: normal;
}

.inputAcceptButton {
    background-color: darkgreen;
}
.inputAcceptButton:hover {
    font-weight: bold;
    background-color: green;
}
.inputAcceptButton:active {
    font-weight: bold;
    background-color: lightgreen;
}
.inputCancelButton {
    background-color: darkred;
}
.inputCancelButton:hover {
    font-weight: bold;
    background-color: #b70000;
}
.inputCancelButton:active {
    font-weight: bold;
    background-color: red;
}


/*
* Spinner
*/

.spinnerFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    z-index: 10;
    background-color: transparent;
}
.spinnerImage {
    margin: auto;
}


/*
* Alert
*/

.alertFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    z-index: 20;
    background-color: transparent;
}
.alertBox {
    border: 2px solid #336699;
    display: block;
    flex-direction: column;
    background-color: #414141;
    margin: 0px auto;
    margin-top: 13%;
    width: max-content;
    height: max-content;
}
.alertTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: #1f1f1f;
}
.alertCaption {
    font-size: 18px;
}
.alertMessage {
    padding: 24px 32px;
    min-width: 300px;
    max-width: 400px;
    font-size: 14px;
}


/*
* Framing Elements
*/

.appFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

.pageFrame {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1100px;
}


/*
* Popups
*/

.popupFrame {
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
}

.popupBox {
    border: 2px solid #336699;
    display: none;
    flex-direction: column;
    background-color: var(--popup-box-background-color);
    z-index: 3;
    margin: 0px auto;
    margin-top: 60px;
    width: max-content;
}

.popupCaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background-color: #272727;
    margin-bottom: 24px;
    align-items: center;    
}
.popupCaptionTitle {
    font-size: 16px;
    color: lightyellow;
}
.popupCaptionButton {
    min-width: 64px;
    width: 64px;
    height: 100%;
    padding: 4px 0;
    border-radius: 4px;
    font-family: inherit;
}

.popupRow {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0 24px 24px 24px;
}

.popupLabel {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 14px;
    color: orange;
}

/*
* Login
*/


.loginFrame {
    display: none;
    justify-content: center;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
}

.loginBox {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginLogo {
    margin-bottom: 38px;
}
.loginLogoGraphic, .loginLogoText {
    height: 46px;
    opacity: 1;
}


.loginUsername, .loginPassword, .loginSubmit {
    width: 300px;
}

.loginSubmit {
    padding: 16px 0;
    color: white;
    background-color: green;
}
.loginSubmitRow {
    margin-top: 36px;
}


/*
* Header Section
*/
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.siteLogo {
}
.siteLogoGraphic, .siteLogoText {
    height: 36px;
}
.siteLogoGraphic {
    opacity: 0.9;
}

.siteNavigation {
    display: flex;
    flex-direction: column;
}

.pageTitle {
    color: var(--page-title-color);
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
}

.siteMenu {
    text-align: right;
}
.siteMenuOption, .siteLastMenuOption {
    margin-right: 3px;
    padding-right: 9px;
    border-right: 2px solid var(--site-menu-border-color);
    color: var(--site-menu-color);
}
a.siteMenuOption:hover, a.siteLastMenuOption:hover {
    color: var(--site-menu-color-hover);
}
.siteLastMenuOption {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
#siteViewManager {
    display: none;
}



/*
* Main Section
*/
main {
    flex: 1;
}


.navigationPanel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.navigationButton {
    width:80px;
    padding: 5px 0;
    color: #ddd;
}
.navigationButton:hover :not(:disabled) {
    color: white;
}

.navigationSelect {
    color: #ddd;
    background-color: #336699;
    display: inline-block;
    padding: 4px 16px;
    margin-right: 12px;
    border: 1px solid #336699;
    border: none;
}
.navigationSelect:hover {
    color:white;
}
.navigationSelect:active{
    color:white;
}
.navigationSelect:focus {
    color: white;
    background-color: steelblue;
}




/*
* Footer Section
*/
footer {

}
