html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    white-space: nowrap;    
}
a:hover {
    text-decoration: underline;
}

table {
    border: none;
    border-spacing: 0;
}
td {
    cursor: default;
}

input[type=submit] {
    border: 0;
}


/*
* Text Input Controls
*/

.inputRow {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 30px;
}

.inputColumn, .inputCell {
    display: flex;
    flex-direction: column;
}
.inputCell {
    flex: 1;
}

.inputLabel {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 14px;
    color: orange;
}

.inputTextBox, .inputSelect {
    outline: none;
    padding: 16px;
    border-radius: 8px;
    display: block;
    box-sizing: border-box;
    color: white;
    border: 1px solid #333;
    background-color: #202020;
    font-size: inherit;
    font-family: inherit;
}
.inputTextBox:disabled {
    background-color: inherit;
    color: #ddd;
}
.inputTextBox:focus, .inputSelect:focus {
    border-color: white;
    background-color: #272727;
}

.inputButton, .inputAcceptButton, .inputCancelButton {
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
    background-color: #336699;
    border: 0;
}
.inputButton:hover {
    font-weight: bold;
    background-color: steelblue;    
}
.inputButton:active {
    font-weight: bold;
    background-color: lightsteelblue;    
}
.inputButton:disabled {
    color: darkgray;
    background-color: #555;    
    font-weight: normal;
}

.inputAcceptButton {
    background-color: darkgreen;
}
.inputAcceptButton:hover {
    font-weight: bold;
    background-color: green;
}
.inputAcceptButton:active {
    font-weight: bold;
    background-color: lightgreen;
}
.inputCancelButton {
    background-color: darkred;
}
.inputCancelButton:hover {
    font-weight: bold;
    background-color: #b70000;
}
.inputCancelButton:active {
    font-weight: bold;
    background-color: red;
}


/*
* Spinner
*/

.spinnerFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    z-index: 10;
}
.spinnerImage {
    margin: auto;
}

/*
* Framing Elements
*/

.appFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

.pageFrame {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1100px;
}


/*
* Popups
*/

.popupFrame {
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
}

.popupBox {
    border: 2px solid #336699;
    display: none;
    flex-direction: column;
    background-color: #414141;
    z-index: 3;
    margin: 0px auto;
    margin-top: 13%;
}

.popupCaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background-color: #272727;
    margin-bottom: 24px;
}
.popupCaptionTitle {
    font-size: 17px;
    color: lightyellow;
}
.popupCaptionButton {
    min-width: 64px;
    width: 64px;
    height: 100%;
    padding: 0;
    border-radius: 4px;
    font-family: inherit;
}

.popupRow {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0 36px 36px 36px;
}

/*
* Login
*/
.loginFrame {
    display: none;
    justify-content: center;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
}

.loginBox {
    margin-top: 15%;
}

.loginUsername, .loginPassword, .loginSubmit {
    width: 300px;
}

.loginSubmit {
    padding: 16px 0;
    color: white;
    background-color: green;;
}
.loginSubmitRow {
    margin-top: 36px;
}


/*
* Header Section
*/
header {
    height: 42px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.siteLogo {
    color: #336699;
    font-size: 40px;
    font-weight: bold;
}

.siteNavigation {
    display: flex;
    flex-direction: column;
}

.pageTitle {
    color: lightblue;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.siteMenu {
    text-align: right;
}
.siteMenuOption, .siteLastMenuOption {
    margin-right: 3px;
    padding-right: 9px;
    border-right: 1px solid white;
    color: #afafaf;
}
a.siteMenuOption:hover, a.siteLastMenuOption:hover {
    color: white;
}
.siteLastMenuOption {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
#siteViewManager {
    display: none;
}



/*
* Main Section
*/
main {
    flex: 1;
}


.navigationPanel {
    display: flex;
    justify-content: space-between;
}
.navigationButton {
    width:80px;
    padding: 5px 0;
}
.navigationSelect {
    color: #ddd;
    background-color: transparent;
    display: inline-block;
    padding: 4px 16px;
    margin-right: 12px;
    border: 1px solid steelblue;
}
.navigationSelect:active {
    border: 1px solid #777;
}
.navigationSelect:focus {
    border: 1px solid #777;
}




/*
* Footer Section
*/
footer {

}